<section class="admin-announcements">
  <div class="container">
    <div class="announcements">
      <!-- <strong>Announcements</strong> -->
      <button class="create-announcement" (click)="createAnnouncement()">
        Create Announcement
      </button>
    </div>
    <div class="loading-container" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <app-announcement-cell
      *ngFor="let announcement of announcements"
      [announcement]="announcement"
    ></app-announcement-cell>
  </div>
</section>
