<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Choose <em>Specialty</em></h2>
          <!-- <img
            class="waves-icon"
            src="assets/wave-2-svgrepo-com.svg"
            alt="waves"
          /> -->
          <p>At PayToLive, health and well-being is our top priority.</p>
        </div>
      </div>
      <div>
        <ul class="features-items row">
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img src="assets/stethoscope-svgrepo-com.svg" alt="First One" />
            </div>
            <div class="right-content">
              <h4>Pathologist</h4>
              <p>
                Pathologists are the detectives of medicine, using tissue
                analysis to diagnose disease. Their expertise ensures the most
                accurate diagnosis for your best treatment plan
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img src="assets/stethoscope-svgrepo-com.svg" alt="second one" />
            </div>
            <div class="right-content">
              <h4>Cardiologist</h4>
              <p>
                Cardiologists are your heart's specialists, diagnosing and
                treating conditions like arrhythmias and heart disease. See one
                for expert care and keep your ticker ticking! pen_spark tune
                share more_vert
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/stethoscope-svgrepo-com.svg"
                alt="third gym training"
              />
            </div>
            <div class="right-content">
              <h4>Neurologist</h4>
              <p>
                Neurologists are brain and nervous system detectives, solving
                problems like headaches, seizures, and weakness. See one for
                expert care of your body's control center!
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/stethoscope-svgrepo-com.svg"
                alt="fourth muscle"
              />
            </div>
            <div class="right-content">
              <h4>Endocrinologist</h4>
              <p>
                Endocrinologists are your hormone whisperers, balancing your
                body's chemistry for optimal health.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/stethoscope-svgrepo-com.svg"
                alt="training fifth"
              />
            </div>
            <div class="right-content">
              <h4>Microbiologist</h4>
              <p>
                Microbiologists are the unseen heroes of health, battling
                invisible enemies like bacteria and viruses to keep you healthy.
                pen_spark tune share more_vert
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/stethoscope-svgrepo-com.svg"
                alt="gym training"
              />
            </div>
            <div class="right-content">
              <h4>Gynecologist</h4>
              <p>
                Gynecologists are your lady-parts experts, providing care for
                everything from periods to pregnancy, keeping you healthy down
                there.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
