<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Choose <em>Program</em></h2>
          <img
            class="waves-icon"
            src="assets/wave-2-svgrepo-com.svg"
            alt="waves"
          />
          <p>
            GymRats is a great place to start your fitness journey. Discover all
            available programs that we offer.
          </p>
        </div>
      </div>
      <div>
        <ul class="features-items row">
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/features-first-icon-purple.png"
                alt="First One"
              />
            </div>
            <div class="right-content">
              <h4>Basic Fitness</h4>
              <p>
                Fit up your body with our basic fitness program. Our expert
                trainers will give all you need.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/features-first-icon-purple.png"
                alt="second one"
              />
            </div>
            <div class="right-content">
              <h4>Weights</h4>
              <p>
                Weights are heavy, but you can still get in shape with our
                weights. They are made out of feathers! What is heavier? 1 kg of
                bricks or 1kg of feathers?
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/features-first-icon-purple.png"
                alt="third gym training"
              />
            </div>
            <div class="right-content">
              <h4>Pilates</h4>
              <p>
                Pilates is an amazing exercise that will help you build muscle
                and strenght ( i think ). Join us and you will be able to get in
                shape.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/features-first-icon-purple.png"
                alt="fourth muscle"
              />
            </div>
            <div class="right-content">
              <h4>Yoga Training</h4>
              <p>
                Master yoga has the force you need. Our expert trainers will
                destroy the death star and save the universe.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/features-first-icon-purple.png"
                alt="training fifth"
              />
            </div>
            <div class="right-content">
              <h4>Advanced</h4>
              <p>
                Advanced training methods and techniques will help you reach
                mount everest.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item col-lg-6">
            <div class="left-icon">
              <img
                src="assets/features-first-icon-purple.png"
                alt="gym training"
              />
            </div>
            <div class="right-content">
              <h4>Body Building Course</h4>
              <p>
                Suspendisse fringilla et nisi et mattis. Curabitur sed finibus
                nisi. Integer nibh sapien, vehicula et auctor.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
