@use "../../../styles/variables" as *;
section {
  padding: 40px 20px;
  color: white;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.description {
  color: white;
  max-height: 330px;
  overflow-y: auto;
}
h3 {
  margin-bottom: 16px;
}
.user-programs-list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 8px 0;
}
