<section class="section" id="trainers">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Expert <em>Trainers</em></h2>
          <img class="waves" src="assets/wave-2-svgrepo-com.svg" alt="" />
          <p>
            Our trainers are trained professionals, they have been training
            since their birth to become the absolute alpha male beasts
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let trainer of trainers">
        <div class="trainer-item">
          <div class="image-thumb">
            <img
              [src]="trainer.image"
              width="336"
              height="255"
              [alt]="trainer.name + trainer.surname"
            />
          </div>
          <div class="down-content">
            <span>Certified Trainer</span>
            <h4>{{ trainer.name + " " + trainer.surname }}</h4>
            <p>
              {{ trainer.about === "" ? "No trainer bio" : trainer.about }}
            </p>
            <ul class="social-icons">
              <li>
                <i class="bi bi-facebook"></i>
              </li>
              <li>
                <i class="bi bi-twitter-x"></i>
              </li>
              <li>
                <i class="bi bi-behance"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
