/* You can add global styles to this file, and also import other style files */

$primary-200: #ba4987;
$primary-300: #a8276d;
$primary-400: #8a1254;
$primary-500: #6f013d;
$primary-600: #4c002a;

$secondary-200: #a998a1;
$secondary-300: #84717c;
$secondary-400: #63515b;
$secondary-500: #382c33;
$secondary-600: #311a27;

$neutral-200: #cecdcd;
$neutral-300: #9e9e9e;
$neutral-400: #717171;
$neutral-500: #3c3c3c;
$neutral-600: #040303;

$success-200: #95ed5b;
$success-300: #79e930;
$success-400: #5be700;
$success-500: #4dc400;
$success-600: #3c9900;

$info-200: #466bab;
$info-300: #2955a0;
$info-400: #123e8a;
$info-500: #0a3071;
$info-600: #052356;

$warning-200: #ffe464;
$warning-300: #ffdd39;
$warning-400: #ffd300;
$warning-500: #c6a400;
$warning-600: #9b8100;

$danger-200: #ff7171;
$danger-300: #ff4444;
$danger-400: #ff1919;
$danger-500: #ff0000;
$danger-600: #ca0000;

$primary: $primary-400;

/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import "../node_modules/bootstrap/scss/bootstrap";
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
.loading-container {
  position: absolute;
  margin: 20px auto;
  border-radius: 20px;
  // background: #435175;
  width: 350px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

html,
body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

::selection {
  background: $primary-400;
  color: #fff;
}

::-moz-selection {
  background: $primary-400;
  color: #fff;
}

@media (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.section-heading {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 80px;
}

.section-heading h2 {
  font-size: 28px;
  font-weight: 800;
  color: #232d39;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-heading h2 em {
  font-style: normal;
  color: $primary-400;
}

.section-heading img {
  margin: 20px auto;
}

.dark-bg h2 {
  color: #fff;
}

.dark-bg p {
  color: #fff;
}

.main-button a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: $primary-400;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
}

.main-button a:hover {
  background-color: $primary-300;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background: rgba(250, 250, 250, 0.99) !important;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #232d39 !important;
}

.background-header .main-nav .nav li:last-child a {
  color: #fff !important;
}

.background-header .main-nav .nav li:last-child a:hover {
  color: #fff !important;
}

.background-header .main-nav .nav li:hover a {
  color: $primary-400 !important;
}

.background-header .nav li a.active {
  color: $primary-400 !important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: rgba(250, 250, 250, 0.1);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  // line-height: 80px;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo em {
  font-style: normal;
  color: $primary-400;
  font-weight: 900;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: #fff;
}

// .header-area .main-nav .nav li:last-child a {
//   display: inline-block;
//   font-size: 13px;
//   padding: 11px 17px;
//   background-color: $primary-400;
//   color: #fff;
//   text-align: center;
//   font-weight: 400;
//   letter-spacing: 0px;
//   text-transform: uppercase;
//   transition: all 0.3s;
//   height: auto;
//   line-height: 20px;
// }

.header-area .main-nav .nav li:last-child a:hover {
  background-color: $primary-300;
  opacity: 1;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: $primary-400 !important;
  opacity: 1;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: $primary-400 !important;
  opacity: 1;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav li a.active {
  color: $primary-400;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: $primary-400 !important;
    opacity: 1;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li:last-child {
    width: 100%;
    background-color: $primary-400;
    color: #fff;
  }
  .header-area .main-nav .nav li:last-child a {
    background-color: $primary-400 !important;
  }
  .header-area .main-nav .nav li:last-child a:hover,
  .header-area .main-nav .nav li:last-child:hover a {
    background-color: $primary-400 !important;
    color: #fff !important;
  }
  // .header-area.header-sticky .nav {
  //   margin-top: 80px !important;
  // }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #232d39 !important;
  }
  .header-area .main-nav .nav li:last-child a {
    color: #fff !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: $primary-400 !important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3b566e;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
  position: relative;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  background-color: rgba(35, 45, 57, 0.8);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 84px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: $primary-400;
  font-weight: 900;
}

/*
---------------------------------------------
features
---------------------------------------------
*/

#features {
  margin-bottom: 80px;
}

.feature-item {
  display: inline-block;
  margin-bottom: 60px;
}

.feature-item .left-icon img {
  float: left;
  margin-right: 30px;
}

.feature-item .right-content {
  display: inline;
}

.feature-item .right-content h4 {
  margin-top: 0px;
  margin-bottom: 7px;
  letter-spacing: 0.25px;
  color: #232d39;
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
}

.feature-item .right-content a.text-button {
  margin-top: 7px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: $primary-400;
  font-weight: 500;
}

/*
---------------------------------------------
subscribe
---------------------------------------------
*/

#call-to-action {
  padding: 120px 0px;
  // background-image: url("./assets/cta-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.cta-content h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.cta-content h2 em {
  font-style: normal;
  color: $primary-400;
}

.cta-content p {
  font-size: 16px;
  color: #fff;
  margin: 15px 0px 25px 0px;
}

/*
--------------------------------------------
Our Classes
--------------------------------------------
*/

#our-classes {
  margin-bottom: 140px;
}

#tabs ul {
  margin: 0;
  padding: 0;
}
#tabs ul li {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
#tabs ul li:last-child {
  margin-bottom: 0px;
}
#tabs ul li a {
  text-transform: capitalize;
  width: 100%;
  padding: 30px 30px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 19px;
  color: #232d39;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: all 0.3s;
}
#tabs .main-rounded-button a {
  text-align: center;
  padding: 20px 30px;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: $primary-400;
}
#tabs .main-rounded-button a:hover {
  background-color: $primary-300;
}
#tabs ul li a img {
  max-width: 100%;
  margin-right: 20px;
}
#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: $primary-400;
}
#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
.tabs-content {
  margin-left: 30px;
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}
.tabs-content img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.tabs-content h4 {
  font-size: 23px;
  font-weight: 700;
  color: #232d39;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.tabs-content p {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 28px;
}

/* 
---------------------------------------------
schedule
--------------------------------------------- 
*/

#schedule {
  padding: 0px 0px 140px 0px;
  background-image: url(./assets/schedule-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#schedule table {
  width: 100%;
  text-align: center;
  border: 1px solid #fff;
}

#schedule table tbody {
  border-top: 1px solid #fff;
}

#schedule table tbody tr {
  border-bottom: 1px solid #fff;
}

#schedule table tbody tr td {
  border-right: 1px solid #fff;
  height: 100px;
}

#schedule table tr td {
  color: #fff;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.schedule-table.filtering .ts-item {
  opacity: 0;
  transition: all 0.5s;
}

.schedule-table.filtering .ts-item.show {
  opacity: 1;
  transition: all 0.5s;
}

#schedule .filters {
  margin-bottom: 40px;
}
#schedule .filters ul {
  padding: 0;
  text-align: center;
}
#schedule .filters ul li {
  list-style: none;
  display: inline;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#schedule .filters ul li:after {
  content: "/";
  margin-left: 10px;
  color: #fff;
}
#schedule .filters ul li:last-child {
  margin-right: 0px;
}
#schedule .filters ul li:last-child::after {
  display: none;
}
#schedule .filters ul li.active,
#schedule .filters ul li:hover {
  color: $primary-400;
}
#schedule .filters-content {
  margin-top: 50px;
}
#schedule .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
#schedule .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}

/* 
---------------------------------------------
trainers
--------------------------------------------- 
*/

#trainers .trainer-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

#trainers .trainer-item img {
  width: 100%;
  border-radius: 5px;
}

#trainers .trainer-item span {
  font-size: 13px;
  font-weight: 500;
  color: $primary-400;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
}

#trainers .trainer-item h4 {
  font-size: 19px;
  font-weight: 600;
  color: #232d39;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

#trainers .trainer-item p {
  margin-bottom: 20px;
}

#trainers .trainer-item ul.social-icons li {
  display: inline-block;
  margin-right: 12px;
}

#trainers .trainer-item ul.social-icons li:last-child {
  margin-right: 0px;
}

#trainers .trainer-item ul.social-icons li a {
  color: #232d39;
  transition: all 0.3s;
}

#trainers .trainer-item ul.social-icons li a:hover {
  color: $primary-400;
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

#contact-us {
  margin-top: 140px;
}

#contact-us .container-fluid .col-lg-6 {
  padding: 0px;
}

#contact-us .contact-form {
  padding: 80px;
  background-image: url(./assets/contact-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-us .contact-form #contact {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
  color: #7a7a7a;
  font-size: 13px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  line-height: 40px;
  padding: 0px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form ::-webkit-input-placeholder {
  /* Edge */
  color: #7a7a7a;
}

.contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7a7a7a;
}

.contact-form ::placeholder {
  color: #7a7a7a;
}

.contact-form button {
  display: inline-block;
  font-size: 13px;
  padding: 11px 17px;
  background-color: $primary-400;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
  border: none;
  outline: none;
  margin-top: -8px;
}

.contact-form button:hover {
  background-color: $primary-300;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  background-color: $neutral-500;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  text-align: center;
  padding: 30px 0px;
}

footer p {
  color: #232d39;
  font-size: 13px;
}

footer p a {
  cursor: pointer;
  color: $primary-400;
}

footer p a:hover {
  color: $primary-400;
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232d39;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: #232d39;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #fff;
  border-radius: 50%;
}

/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 992px) {
  .main-banner .caption h2 {
    font-size: 64px;
  }
  #features {
    margin-bottom: 110px;
  }
  #features .feature-item {
    margin-bottom: 30px;
  }
  #our-classes .tabs-content {
    margin-left: 0px;
    margin-top: 30px;
  }
  .trainer-item {
    margin-bottom: 30px;
  }
  #contact-us #map {
    margin-bottom: -7px;
  }
  #contact-us .contact-form {
    padding: 30px;
  }
  #contact-us .contact-form #contact {
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .feature-item .right-content a.text-button {
    margin-left: 130px;
  }
}
.button {
  background-color: $primary-400;
  color: white;
  padding: 5px 15px;
  outline: none;
  border: none;
  transition: all 0.2s ease;
  &:hover {
    background-color: $primary-300;
    border-radius: 5px;
  }
}

.flag {
  width: 32px;
  height: 32px;
  background: url("./assets/country-flag.png") no-repeat;
  display: block;
}

.flag.flag-ad {
  background-position: -32px 0;
}

.flag.flag-ae {
  background-position: -64px 0;
}

.flag.flag-af {
  background-position: -96px 0;
}

.flag.flag-ag {
  background-position: -128px 0;
}

.flag.flag-ai {
  background-position: -160px 0;
}

.flag.flag-al {
  background-position: -192px 0;
}

.flag.flag-am {
  background-position: -224px 0;
}

.flag.flag-an {
  background-position: -256px 0;
}

.flag.flag-ao {
  background-position: -288px 0;
}

.flag.flag-ar {
  background-position: -320px 0;
}

.flag.flag-as {
  background-position: -352px 0;
}

.flag.flag-at {
  background-position: -384px 0;
}

.flag.flag-au {
  background-position: -416px 0;
}

.flag.flag-aw {
  background-position: -448px 0;
}

.flag.flag-ax {
  background-position: -480px 0;
}

.flag.flag-az {
  background-position: 0 -32px;
}

.flag.flag-ba {
  background-position: -32px -32px;
}

.flag.flag-bb {
  background-position: -64px -32px;
}

.flag.flag-bd {
  background-position: -96px -32px;
}

.flag.flag-be {
  background-position: -128px -32px;
}

.flag.flag-bf {
  background-position: -160px -32px;
}

.flag.flag-bg {
  background-position: -192px -32px;
}

.flag.flag-bh {
  background-position: -224px -32px;
}

.flag.flag-bi {
  background-position: -256px -32px;
}

.flag.flag-bj {
  background-position: -288px -32px;
}

.flag.flag-bl {
  background-position: -320px -32px;
}

.flag.flag-bm {
  background-position: -352px -32px;
}

.flag.flag-bn {
  background-position: -384px -32px;
}

.flag.flag-bo {
  background-position: -416px -32px;
}

.flag.flag-br {
  background-position: -448px -32px;
}

.flag.flag-bs {
  background-position: -480px -32px;
}

.flag.flag-bt {
  background-position: 0 -64px;
}

.flag.flag-bw {
  background-position: -32px -64px;
}

.flag.flag-by {
  background-position: -64px -64px;
}

.flag.flag-bz {
  background-position: -96px -64px;
}

.flag.flag-ca {
  background-position: -128px -64px;
}

.flag.flag-cd {
  background-position: -160px -64px;
}

.flag.flag-cf {
  background-position: -192px -64px;
}

.flag.flag-cg {
  background-position: -224px -64px;
}

.flag.flag-ch {
  background-position: -256px -64px;
}

.flag.flag-ci {
  background-position: -288px -64px;
}

.flag.flag-ck {
  background-position: -320px -64px;
}

.flag.flag-cl {
  background-position: -352px -64px;
}

.flag.flag-cm {
  background-position: -384px -64px;
}

.flag.flag-cn {
  background-position: -416px -64px;
}

.flag.flag-co {
  background-position: -448px -64px;
}

.flag.flag-cr {
  background-position: -480px -64px;
}

.flag.flag-cu {
  background-position: 0 -96px;
}

.flag.flag-cv {
  background-position: -32px -96px;
}

.flag.flag-cw {
  background-position: -64px -96px;
}

.flag.flag-cy {
  background-position: -96px -96px;
}

.flag.flag-cz {
  background-position: -128px -96px;
}

.flag.flag-de {
  background-position: -160px -96px;
}

.flag.flag-dj {
  background-position: -192px -96px;
}

.flag.flag-dk {
  background-position: -224px -96px;
}

.flag.flag-dm {
  background-position: -256px -96px;
}

.flag.flag-do {
  background-position: -288px -96px;
}

.flag.flag-dz {
  background-position: -320px -96px;
}

.flag.flag-ec {
  background-position: -352px -96px;
}

.flag.flag-ee {
  background-position: -384px -96px;
}

.flag.flag-eg {
  background-position: -416px -96px;
}

.flag.flag-eh {
  background-position: -448px -96px;
}

.flag.flag-er {
  background-position: -480px -96px;
}

.flag.flag-es {
  background-position: 0 -128px;
}

.flag.flag-et {
  background-position: -32px -128px;
}

.flag.flag-eu {
  background-position: -64px -128px;
}

.flag.flag-fi {
  background-position: -96px -128px;
}

.flag.flag-fj {
  background-position: -128px -128px;
}

.flag.flag-fk {
  background-position: -160px -128px;
}

.flag.flag-fm {
  background-position: -192px -128px;
}

.flag.flag-fo {
  background-position: -224px -128px;
}

.flag.flag-fr {
  background-position: -256px -128px;
}

.flag.flag-ga {
  background-position: -288px -128px;
}

.flag.flag-gb {
  background-position: -320px -128px;
}

.flag.flag-gd {
  background-position: -352px -128px;
}

.flag.flag-ge {
  background-position: -384px -128px;
}

.flag.flag-gg {
  background-position: -416px -128px;
}

.flag.flag-gh {
  background-position: -448px -128px;
}

.flag.flag-gi {
  background-position: -480px -128px;
}

.flag.flag-gl {
  background-position: 0 -160px;
}

.flag.flag-gm {
  background-position: -32px -160px;
}

.flag.flag-gn {
  background-position: -64px -160px;
}

.flag.flag-gp {
  background-position: -96px -160px;
}

.flag.flag-gq {
  background-position: -128px -160px;
}

.flag.flag-gr {
  background-position: -160px -160px;
}

.flag.flag-gs {
  background-position: -192px -160px;
}

.flag.flag-gt {
  background-position: -224px -160px;
}

.flag.flag-gu {
  background-position: -256px -160px;
}

.flag.flag-gw {
  background-position: -288px -160px;
}

.flag.flag-gy {
  background-position: -320px -160px;
}

.flag.flag-hk {
  background-position: -352px -160px;
}

.flag.flag-hn {
  background-position: -384px -160px;
}

.flag.flag-hr {
  background-position: -416px -160px;
}

.flag.flag-ht {
  background-position: -448px -160px;
}

.flag.flag-hu {
  background-position: -480px -160px;
}

.flag.flag-ic {
  background-position: 0 -192px;
}

.flag.flag-id {
  background-position: -32px -192px;
}

.flag.flag-ie {
  background-position: -64px -192px;
}

.flag.flag-il {
  background-position: -96px -192px;
}

.flag.flag-im {
  background-position: -128px -192px;
}

.flag.flag-in {
  background-position: -160px -192px;
}

.flag.flag-iq {
  background-position: -192px -192px;
}

.flag.flag-ir {
  background-position: -224px -192px;
}

.flag.flag-is {
  background-position: -256px -192px;
}

.flag.flag-it {
  background-position: -288px -192px;
}

.flag.flag-je {
  background-position: -320px -192px;
}

.flag.flag-jm {
  background-position: -352px -192px;
}

.flag.flag-jo {
  background-position: -384px -192px;
}

.flag.flag-jp {
  background-position: -416px -192px;
}

.flag.flag-ke {
  background-position: -448px -192px;
}

.flag.flag-kg {
  background-position: -480px -192px;
}

.flag.flag-kh {
  background-position: 0 -224px;
}

.flag.flag-ki {
  background-position: -32px -224px;
}

.flag.flag-km {
  background-position: -64px -224px;
}

.flag.flag-kn {
  background-position: -96px -224px;
}

.flag.flag-kp {
  background-position: -128px -224px;
}

.flag.flag-kr {
  background-position: -160px -224px;
}

.flag.flag-kw {
  background-position: -192px -224px;
}

.flag.flag-ky {
  background-position: -224px -224px;
}

.flag.flag-kz {
  background-position: -256px -224px;
}

.flag.flag-la {
  background-position: -288px -224px;
}

.flag.flag-lb {
  background-position: -320px -224px;
}

.flag.flag-lc {
  background-position: -352px -224px;
}

.flag.flag-li {
  background-position: -384px -224px;
}

.flag.flag-lk {
  background-position: -416px -224px;
}

.flag.flag-lr {
  background-position: -448px -224px;
}

.flag.flag-ls {
  background-position: -480px -224px;
}

.flag.flag-lt {
  background-position: 0 -256px;
}

.flag.flag-lu {
  background-position: -32px -256px;
}

.flag.flag-lv {
  background-position: -64px -256px;
}

.flag.flag-ly {
  background-position: -96px -256px;
}

.flag.flag-ma {
  background-position: -128px -256px;
}

.flag.flag-mc {
  background-position: -160px -256px;
}

.flag.flag-md {
  background-position: -192px -256px;
}

.flag.flag-me {
  background-position: -224px -256px;
}

.flag.flag-mf {
  background-position: -256px -256px;
}

.flag.flag-mg {
  background-position: -288px -256px;
}

.flag.flag-mh {
  background-position: -320px -256px;
}

.flag.flag-mk {
  background-position: -352px -256px;
}

.flag.flag-ml {
  background-position: -384px -256px;
}

.flag.flag-mm {
  background-position: -416px -256px;
}

.flag.flag-mn {
  background-position: -448px -256px;
}

.flag.flag-mo {
  background-position: -480px -256px;
}

.flag.flag-mp {
  background-position: 0 -288px;
}

.flag.flag-mq {
  background-position: -32px -288px;
}

.flag.flag-mr {
  background-position: -64px -288px;
}

.flag.flag-ms {
  background-position: -96px -288px;
}

.flag.flag-mt {
  background-position: -128px -288px;
}

.flag.flag-mu {
  background-position: -160px -288px;
}

.flag.flag-mv {
  background-position: -192px -288px;
}

.flag.flag-mw {
  background-position: -224px -288px;
}

.flag.flag-mx {
  background-position: -256px -288px;
}

.flag.flag-my {
  background-position: -288px -288px;
}

.flag.flag-mz {
  background-position: -320px -288px;
}

.flag.flag-na {
  background-position: -352px -288px;
}

.flag.flag-nc {
  background-position: -384px -288px;
}

.flag.flag-ne {
  background-position: -416px -288px;
}

.flag.flag-nf {
  background-position: -448px -288px;
}

.flag.flag-ng {
  background-position: -480px -288px;
}

.flag.flag-ni {
  background-position: 0 -320px;
}

.flag.flag-nl {
  background-position: -32px -320px;
}

.flag.flag-no {
  background-position: -64px -320px;
}

.flag.flag-np {
  background-position: -96px -320px;
}

.flag.flag-nr {
  background-position: -128px -320px;
}

.flag.flag-nu {
  background-position: -160px -320px;
}

.flag.flag-nz {
  background-position: -192px -320px;
}

.flag.flag-om {
  background-position: -224px -320px;
}

.flag.flag-pa {
  background-position: -256px -320px;
}

.flag.flag-pe {
  background-position: -288px -320px;
}

.flag.flag-pf {
  background-position: -320px -320px;
}

.flag.flag-pg {
  background-position: -352px -320px;
}

.flag.flag-ph {
  background-position: -384px -320px;
}

.flag.flag-pk {
  background-position: -416px -320px;
}

.flag.flag-pl {
  background-position: -448px -320px;
}

.flag.flag-pn {
  background-position: -480px -320px;
}

.flag.flag-pr {
  background-position: 0 -352px;
}

.flag.flag-ps {
  background-position: -32px -352px;
}

.flag.flag-pt {
  background-position: -64px -352px;
}

.flag.flag-pw {
  background-position: -96px -352px;
}

.flag.flag-py {
  background-position: -128px -352px;
}

.flag.flag-qa {
  background-position: -160px -352px;
}

.flag.flag-re {
  background-position: -192px -352px;
}

.flag.flag-ro {
  background-position: -224px -352px;
}

.flag.flag-rs {
  background-position: -256px -352px;
}

.flag.flag-ru {
  background-position: -288px -352px;
}

.flag.flag-rw {
  background-position: -320px -352px;
}

.flag.flag-sa {
  background-position: -352px -352px;
}

.flag.flag-sb {
  background-position: -384px -352px;
}

.flag.flag-sc {
  background-position: -416px -352px;
}

.flag.flag-sd {
  background-position: -448px -352px;
}

.flag.flag-se {
  background-position: -480px -352px;
}

.flag.flag-sg {
  background-position: 0 -384px;
}

.flag.flag-sh {
  background-position: -32px -384px;
}

.flag.flag-si {
  background-position: -64px -384px;
}

.flag.flag-sk {
  background-position: -96px -384px;
}

.flag.flag-sl {
  background-position: -128px -384px;
}

.flag.flag-sm {
  background-position: -160px -384px;
}

.flag.flag-sn {
  background-position: -192px -384px;
}

.flag.flag-so {
  background-position: -224px -384px;
}

.flag.flag-sr {
  background-position: -256px -384px;
}

.flag.flag-ss {
  background-position: -288px -384px;
}

.flag.flag-st {
  background-position: -320px -384px;
}

.flag.flag-sv {
  background-position: -352px -384px;
}

.flag.flag-sy {
  background-position: -384px -384px;
}

.flag.flag-sz {
  background-position: -416px -384px;
}

.flag.flag-tc {
  background-position: -448px -384px;
}

.flag.flag-td {
  background-position: -480px -384px;
}

.flag.flag-tf {
  background-position: 0 -416px;
}

.flag.flag-tg {
  background-position: -32px -416px;
}

.flag.flag-th {
  background-position: -64px -416px;
}

.flag.flag-tj {
  background-position: -96px -416px;
}

.flag.flag-tk {
  background-position: -128px -416px;
}

.flag.flag-tl {
  background-position: -160px -416px;
}

.flag.flag-tm {
  background-position: -192px -416px;
}

.flag.flag-tn {
  background-position: -224px -416px;
}

.flag.flag-to {
  background-position: -256px -416px;
}

.flag.flag-tr {
  background-position: -288px -416px;
}

.flag.flag-tt {
  background-position: -320px -416px;
}

.flag.flag-tv {
  background-position: -352px -416px;
}

.flag.flag-tw {
  background-position: -384px -416px;
}

.flag.flag-tz {
  background-position: -416px -416px;
}

.flag.flag-ua {
  background-position: -448px -416px;
}

.flag.flag-ug {
  background-position: -480px -416px;
}

.flag.flag-us {
  background-position: 0 -448px;
}

.flag.flag-uy {
  background-position: -32px -448px;
}

.flag.flag-uz {
  background-position: -64px -448px;
}

.flag.flag-va {
  background-position: -96px -448px;
}

.flag.flag-vc {
  background-position: -128px -448px;
}

.flag.flag-ve {
  background-position: -160px -448px;
}

.flag.flag-vg {
  background-position: -192px -448px;
}

.flag.flag-vi {
  background-position: -224px -448px;
}

.flag.flag-vn {
  background-position: -256px -448px;
}

.flag.flag-vu {
  background-position: -288px -448px;
}

.flag.flag-wf {
  background-position: -320px -448px;
}

.flag.flag-ws {
  background-position: -352px -448px;
}

.flag.flag-ye {
  background-position: -384px -448px;
}

.flag.flag-yt {
  background-position: -416px -448px;
}

.flag.flag-za {
  background-position: -448px -448px;
}

.flag.flag-zm {
  background-position: -480px -448px;
}

.flag.flag-zw {
  background-position: 0 -480px;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
