/* You can add global styles to this file, and also import other style files */

$primary-200: #ba4987;
$primary-300: #a8276d;
$primary-400: #8a1254;
$primary-500: #6f013d;
$primary-600: #4c002a;

$secondary-200: #a998a1;
$secondary-300: #84717c;
$secondary-400: #63515b;
$secondary-500: #382c33;
$secondary-600: #311a27;

$neutral-200: #cecdcd;
$neutral-300: #9e9e9e;
$neutral-400: #717171;
$neutral-500: #3c3c3c;
$neutral-600: #040303;

$success-200: #95ed5b;
$success-300: #79e930;
$success-400: #5be700;
$success-500: #4dc400;
$success-600: #3c9900;

$info-200: #466bab;
$info-300: #2955a0;
$info-400: #123e8a;
$info-500: #0a3071;
$info-600: #052356;

$warning-200: #ffe464;
$warning-300: #ffdd39;
$warning-400: #ffd300;
$warning-500: #c6a400;
$warning-600: #9b8100;

$danger-200: #ff7171;
$danger-300: #ff4444;
$danger-400: #ff1919;
$danger-500: #ff0000;
$danger-600: #ca0000;
