<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="#" class="logo">Training<em> Studio</em></a>
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="#top" class="active">Home</a>
            </li>
            <li class="scroll-to-section"><a href="#features">About</a></li>
            <li class="scroll-to-section">
              <a href="#our-classes">Classes</a>
            </li>
            <li class="scroll-to-section"><a href="#schedule">Schedules</a></li>
            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
            <button
              type="button"
              class="button me-3"
              data-bs-toggle="modal"
              data-bs-target="#login"
            >
              Login
            </button>
            <button
              type="button"
              class="button"
              data-bs-toggle="modal"
              data-bs-target="#register"
            >
              Sign Up
            </button>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <app-select-box [countries]="countries"></app-select-box>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>

<app-login-modal></app-login-modal>
<app-register-modal></app-register-modal>
