<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="#" class="logo">Training<em> Studio</em></a>
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="#top" class="active">Home</a>
            </li>
            <li class="scroll-to-section"><a href="#features">About</a></li>
            <li class="scroll-to-section">
              <a href="#our-classes">Classes</a>
            </li>
            <li class="scroll-to-section"><a href="#schedule">Schedules</a></li>
            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
            <li class="main-button"><a href="#">Sign Up</a></li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
