<section class="section" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading dark-bg">
          <h2>Classes <em>Schedule</em></h2>
          <img src="assets/images/line-dec.png" alt="" />
          <p>
            Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed
            viverra ipsum dolor, ultricies fermentum massa consequat eu.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="filters">
          <ul class="schedule-filter">
            <li
              *ngFor="let day of days; index as i"
              (click)="changeSelectedDay(i)"
              [ngClass]="{ active: (selectedDay$ | async) === i }"
            >
              {{ day }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="schedule-table filtering">
          <table>
            <tbody>
              <tr *ngFor="let program of programs">
                <td class="day-time">{{ program.title }}</td>
                <ng-container *ngFor="let slot of program.slots; index as i">
                  <td
                    class="monday ts-item show"
                    *ngIf="slot.day === (selectedDay$ | async)"
                  >
                    <a
                      class="reserve-link"
                      [routerLink]="['/program-reserve']"
                      [queryParams]="{
                        program_id: program.id,
                        slot_id: slot.id
                      }"
                      >{{
                        (slot.start | formatTime) +
                          " - " +
                          (slot.end | formatTime)
                      }}</a
                    >
                  </td>
                </ng-container>
                <ng-container *ngFor="let ex of program.dummies">
                  <td class="monday ts-item show"></td>
                </ng-container>
                <!-- <td class="tuesday ts-item" data-tsmeta="tuesday">
                  2:00PM - 3:30PM
                </td> -->
                <td>
                  {{ program.trainer_name + " " + program.trainer_surname }}
                </td>
              </tr>
              <!-- <tr>
                <td class="day-time">Muscle Training</td>
                <td class="friday ts-item" data-tsmeta="friday">
                  10:00AM - 11:30AM
                </td>
                <td
                  class="thursday friday ts-item"
                  data-tsmeta="thursday"
                  data-tsmeta="friday"
                >
                  2:00PM - 3:30PM
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="day-time">Body Building</td>
                <td class="tuesday ts-item" data-tsmeta="tuesday">
                  10:00AM - 11:30AM
                </td>
                <td class="monday ts-item show" data-tsmeta="monday">
                  2:00PM - 3:30PM
                </td>
                <td>Boyd C. Harris</td>
              </tr>
              <tr>
                <td class="day-time">Yoga Training Class</td>
                <td class="wednesday ts-item" data-tsmeta="wednesday">
                  10:00AM - 11:30AM
                </td>
                <td class="friday ts-item" data-tsmeta="friday">
                  2:00PM - 3:30PM
                </td>
                <td>Hector T. Daigle</td>
              </tr>
              <tr>
                <td class="day-time">Advanced Training</td>
                <td class="thursday ts-item" data-tsmeta="thursday">
                  10:00AM - 11:30AM
                </td>
                <td class="wednesday ts-item" data-tsmeta="wednesday">
                  2:00PM - 3:30PM
                </td>
                <td>Bret D. Bowers</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
