<section id="our-classes" class="section" id="schedule" *ngIf="user$ | async">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading dark-bg">
          <h2>Available <em>Appointments</em></h2>
          <img src="assets/images/line-dec.png" alt="" />
          <p>
            Here you can pick the day and time of your appointment. We will take
            care of the rest for you!
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="filters">
          <ul class="schedule-filter">
            <li
              *ngFor="let day of days; index as i"
              (click)="changeSelectedDay(i)"
              [ngClass]="{ active: (selectedDay$ | async) === i }"
            >
              {{ day }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="schedule-table filtering">
          <table>
            <tbody>
              <tr *ngFor="let program of filteredPrograms$ | async">
                <td class="day-time">{{ program.title }}</td>
                <ng-container *ngFor="let slot of program.slots; index as i">
                  <td
                    class="monday ts-item show"
                    *ngIf="isSlotThisWeek(slot.start)"
                  >
                    <a
                      class="reserve-link"
                      [routerLink]="['/sector-reserve']"
                      [queryParams]="{
                        program_id: program.id,
                        slot_id: slot.id
                      }"
                      >{{
                        (slot.start | formatTime) +
                          " - " +
                          (slot.end | formatTime)
                      }}</a
                    >
                  </td>
                </ng-container>
                <ng-container *ngFor="let ex of program.dummies">
                  <td class="monday ts-item show"></td>
                </ng-container>

                <td>
                  {{ program.trainer_name + " " + program.trainer_surname }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
