<div class="loading-container">
  <div class="bench-container">
    <div class="seat"></div>
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="man">
    <div class="legs">
      <div class="leg one"></div>
      <div class="leg two"></div>
      <div class="thy"></div>
    </div>
    <div class="main-parts">
      <div class="lower"></div>
      <div class="upper">
        <div class="above"></div>
      </div>
    </div>
    <div class="neck">
      <div class="head"></div>
    </div>

    <div class="nose">
      <div></div>
      <div></div>
    </div>
    <div class="hairs">
      <div class="lower"></div>
      <div class="upper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="hand"></div>
    <div class="weight"></div>
  </div>
  <div class="bicept-machine"></div>

  <div class="rod1"></div>
</div>
