<div class="main-banner" id="top">
  <!-- <video
    loop
    muted
    autoplay
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    id="bg-video"
  >
    <source src="assets/gym-video.mp4" type="video/mp4" />
  </video> -->
  <img id="bg-video" src="assets/gym-background.jpg" alt="" />
  <div class="video-overlay header-text">
    <div class="caption">
      <h6>work harder, get stronger</h6>
      <h2>easy with our <em>gym</em></h2>
      <div class="main-button scroll-to-section">
        <button
          style="padding: 12px 20px"
          type="button"
          class="button"
          data-bs-toggle="modal"
          data-bs-target="#register"
        >
          Become a member
        </button>
      </div>
    </div>
  </div>
</div>
<app-choose-program></app-choose-program>
<app-become-member></app-become-member>
<app-our-classes></app-our-classes>
<app-classes-schedule></app-classes-schedule>
<app-expert-trainers></app-expert-trainers>
<app-contact-us></app-contact-us>
