@use "../../../styles/variables" as *;

main {
  background-color: $primary-400;
}

.add-button {
  background-color: white;
  border: 2px solid white;
  // color: $primary-400;
  font-weight: 500;
}
.add-button:hover {
  background-color: $primary-400;
  color: white;
}
section {
  padding: 40px 20px;
  color: white;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
}
// .accordion-header {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }
.card-actions {
  display: flex;
  justify-content: space-evenly;
}
.programs-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px;
}
.card {
  max-height: 400px;
  overflow-y: auto;
  img {
    object-fit: cover;
  }
}
