<div class="select-c">
  <input
    tabindex="0"
    type="text"
    class="search-input form-select"
    [value]="filter"
    (input)="onFilterInput($event)"
    (focus)="onFocus()"
    placeholder="Select a Country"
    appClickOutside
    (clickOutside)="closeMenu()"
  />

  <div class="list-c">
    <ul ngModel #countryList class="hidden">
      <li *ngFor="let country of filteredCountries">
        <label [htmlFor]="country.iso2"
          ><span
            class="flag"
            [ngClass]="['flag-' + country.iso2 | lowercase]"
          ></span>
          {{ country.country }}</label
        >
        <input
          [id]="country.iso2"
          type="radio"
          checked
          name="country"
          [value]="country.country"
          (input)="changeCountry($event)"
        />
      </li>
    </ul>
  </div>
</div>
<!-- (focus)="onFocus()"
(blur)="onBlur()" -->
