<div class="select-c">
  <input
    type="text"
    class="search-input"
    (input)="onFilterInput($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    placeholder="Select a Country"
  />
  <div class="list-c">
    <ul ngModel #countryList class="hidden">
      <li *ngFor="let country of filteredCountries">
        <label [htmlFor]="country.iso2"
          ><span
            class="flag"
            [ngClass]="['flag-' + country.iso2 | lowercase]"
          ></span>
          {{ country.country }}</label
        >
        <input [id]="country.iso2" type="radio" checked name="country" />
      </li>
    </ul>
  </div>
</div>
<!-- (focus)="onFocus()"
(blur)="onBlur()" -->
