.announcements-page {
  //   height: 70vh;
  background-image: none;
  background: none;
  background-color: #26303a !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 100px;
}
.carousel {
  width: 100%;
  img {
    width: 100%;
  }
}
.section-heading h2 {
  margin-top: 50px !important;
}
