<section class="section announcements-page" id="call-to-action">
  <div class="dark-bg">
    <h2 class="header">ANNOUNCEMENTS <span>OFFERS</span></h2>
    <img src="assets/images/line-dec.png" alt="" />
  </div>
  <ngb-carousel
    #carousel
    [interval]="5000"
    class="carousel"
    [showNavigationIndicators]="false"
  >
    <ng-template
      ngbSlide
      *ngFor="let announcement of announcements; let i = index"
      [showNavigationIndicators]="false"
    >
      <a [href]="'#'" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img
            [src]="announcement.image"
            alt="My image {{ i + 1 }} description"
          />
        </div>
      </a>
      <h3 class="title">{{ announcement.title }}</h3>
      <p class="description">
        {{ announcement.text }}
      </p>
    </ng-template>
  </ngb-carousel>
</section>
