.section-heading img {
  width: 20px;
}

.container {
  position: relative;
}
#tabs li {
  img {
    width: 35px;
  }
}
.programms-list {
  overflow: auto;
  padding: 10px !important;
  max-height: 500px;
}
